{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets
  '@AppClientBundle/Resources/public/css/*.css' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('scripts/require.js') }}"></script>
  <script src="{{ asset('scripts/jquery.min.js') }}"></script>
  <script src="{{ asset('scripts/angular.min.js') }}"></script>
  <script src="{{ asset('scripts/angular-route.min.js') }}"></script>
  <script src="{{ asset('scripts/bootstrap.min.js') }}"></script>
  <script src="{{ asset('scripts/html5shiv.min.js') }}"></script>
  {% javascripts
  '@AppClientBundle/Resources/public/js/*.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block body %}
  <div id="wrapper">
    <div id="wrapper-inner">
      <div id="background">
        {% block background %}{% endblock %}
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <header>
        <div id="logo-box">
          <img src="{{ asset('images/logo.png') }}" alt="Logo"/>
        </div>
        {% block header_nav %}
          <nav>
            <ul>
              <li class="botcerrar"><a href="{{ path('_home') }}">Home</a></li>
            </ul>
          </nav>
        {% endblock %}
      </header>
      <footer>
        {% block footer %}{% endblock %}
      </footer>
    </div>
  </div>
{% endblock %}
