{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('lib/css/normalize.css') }}"/>
	<link rel="stylesheet" href="{{ asset('lib/css/animate.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('lib/css/bootstrap.min.css') }}"/>
	{% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('lib/scripts/require.js') }}"></script>
	<script src="{{ asset('lib/scripts/jquery.min.js') }}"></script>
	<script src="{{ asset('lib/scripts/angular.min.js') }}"></script>
	<script src="{{ asset('lib/scripts/angular-route.min.js') }}"></script>
	<script src="{{ asset('lib/scripts/bootstrap.min.js') }}"></script>
	<script src="{{ asset('lib/scripts/html5shiv.min.js') }}"></script>
	{% javascripts '@AppBundle/Resources/public/js/*' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
	<div id="wrapper">
		<header>
			<div id="logo-box">
				<img src="{{ asset('images/logo.png') }}" alt="Logo"/>
			</div>
			{% block header_nav %}
				<nav>
					<ul>
						<li class="botHome"><a href="{{ path('_home') }}">Home</a></li>
						<li class="botHome"><a ng-click="gotoView('/intro')">Intro</a></li>
					</ul>
				</nav>
			{% endblock %}
		</header>
		<secction id="content">
			{% block content %}{% endblock %}
		</secction>
		<footer>
			{% block footer %}<p>@Symfonangular 2016</p>{% endblock %}
		</footer>
	</div>
{% endblock %}
